<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="initial-scale=1.0, width=device-width">
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/vue-promise-btn.css" crossorigin="use-credentials">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- Cookies -->
    <script src="/js/js.cookie.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DBL3EPC6BC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'G-DBL3EPC6BC');
    </script>
</head>
<body>
<router-view></router-view>
<div class="container pb-5" style="padding: 0">
    <div class="hero-and-solution">
        <section class="hero">
            <%- include("header.ejs", { menu: 3 }) %>
        </section>
    </div>
    <div class="container" style="padding: 5px 0 0 30px; height: 40px;">
        <a href="/about/zh">
            <button style="height: 25px; width: 25px;border-radius: 50%;background-image:url('../images/cnflag.svg');background-repeat: no-repeat; border-width: 0px;
  background-size: cover;"></button>
        </a>
        <a href="/about/ar">
            <button style="height: 25px; width: 25px;border-radius: 50%;background-image:url('../images/sa.svg');background-repeat: no-repeat; border-width: 0px;
  background-size: cover;"></button>
        </a>
        <a href="/about">
            <button style="height: 25px; width: 25px;border-radius: 50%;background-image:url('../images/us.svg');background-repeat: no-repeat;border-width: 0px;
  background-size: cover;"></button>
        </a>
        <a href="/about/hr">
            <button style="height: 25px; width: 25px;border-radius: 50%;background-image:url('../images/hr.svg');background-repeat: no-repeat;border-width: 0px;
  background-size: cover;"></button>
        </a>

    </div>
</div>
<div class="container arabic">


    <div class="newsHero firstHero">
        <h1>رموز الحصص الملموسة (TST)</h1>
        <h2>الحل اللامركزي لادارة المساهمات و الاستثمارات المجمدة يمثل اصولا ملموسة</h2>
        <img class="firstHero-logo" src="/images/juiceLogo.png" alt="juice logo">

    </div>
    <div class="newsHero otherHero arabic-sliders ">
        <h1>رموز الحصص الملموسة (TST)</h1>
        <h2>
            FTفيما يتعلق  NFT ب TST يمكن مقارنة
            و لكنها تختلف في كونها تمثل ملكية جزئية بدلا من ملكية كمية او فردية .
            سوف تظهر الملكية في المحفظة الخاصة بك بالنسبة المائوية.
            على عكس مجمعات السيولة النقدية يمكن تبادل الملكية من خلال المزايدة على دفتر الحسابات و قرار المساهمين بالمبادلة
        </h2>
        <img class="slider-2-image" src="../images/shares-cercle.png" alt="">
        <h3 class="share-1">10%</h3>
        <h3 class="share-2">10%</h3>
        <h3 class="share-3">20% - @ 200$ORI</h3>
        <h3 class="share-4">60%</h3>
        <img class="otherHero-slider2-logo " src="../images/juiceLogo.png" alt="juice logo">

    </div>
    <div class="newsHero otherHero arabic-sliders">
        <h1>رموز الحصص الملموسة (TST)-الضريبة</h1>
        <h2>
            Defi كاداة
            تتيح   TST
            تمويل الاصول الملموسة التي تخضع للنمو في القيمة (مضاربة) لذلك مع كل معاملة سيتم دفع ضريبة لكل موضوع ملموس </h2>
        <img class="slider-3-image" src="../images/shares-cercle.png" alt="">
        <img class="slider-3-arrow1" src="../images/arrow_right.png" alt="">
        <img class="slider-3-arrow2" src="../images/arrow_right.png" alt="">
        <img class="slider-3-losange" src="../images/rotatedSquare.png" alt="Tangible Subject">

        <h3 class="text-1-chi"> 20% شراء</h3>
        <h3 class="text-2">1000 $ORI</h3>
        <h3 class="text-3">اجمالي القيمة المحجوزة في المبلغ</h3>
        <h3 class="text-4">100 $ORI</h3>
        <h3 class="text-5">5% ضريبة</h3>
        <h5 class="text-6-ar">الموضوع الملموس</h5>
        <img class="otherHero-slider2-logo" src="../images/juiceLogo.png" alt="juice logo">

    </div>
    <div class="newsHero arabic-sliders slider-4">
        <h1>استثمارات الحصص الملموسة مع  $ORI</h1>
        <h2>لا مركزية استثمارات الاندية الرياضية تسمح لاي شخص الاستثمار في الاصول الملموسة مثل اللاعبين او الموارد و الربح من نموهم </h2></h2>
        <img class="otherHero arabic-sliders-dino" src="../images/dino-standing.png" alt="ori standing pic">
        <div class="slider-4-logos ">
            <img class="slider-4-logos-1" src="../images/orijentLogo.png" alt="orijent logo">
            <img class="slider-4-logos-2" src="../images/juiceLogo.png" alt="juice logo">
        </div>
    </div>
    <div class="newsHero arabic-sliders otherHero">
        < <h1>الاستثمارات المجمدة الملموسة</h1>
        <ol class="numberList">
            <li><h2>يمكن للمستثمرين الاستثمار في الاصول الملموسة للنوادي و تحقيق الربح من النمو و الارباح الاضافية.</h2></li>
            <li><h2>ستساهم كل عملية شراء /معاملة بضريبة اللاعب</h2>
            </li>
            <li><h2>يقدم النادي او الرعاة مكافات او اسعار خاصة يتم تقاسمها بين اصحابها</h2></li>
            <li><h2> سقوم النادي بدفع نسبة مائوية بدولار اوري من مبلغ التحويل الى جميع المساهمين عندما يتم تحويل اللاعب الى نادي اخر</h2></li>
            <li><h2>
                    TST يسمح
                    بارباح سريعة و كبيرة و في نفس الوقت نمو مستدام
                </h2></li>
        </ol>
        <div class="arabic-sliders-logos">
            <img class="arabic-sliders-logos-logos-1" src="../images/orijentLogo.png" alt="orijent logo">
            <img class="arabic-sliders-logos-logos-2" src="../images/juiceLogo.png" alt="juice logo">
        </div>
    </div>
    <div class="newsHero arabic-sliders slider-6">
        <h1>استثمر في لاعب كرة القدم و اربح من النجاح و المكافات</h1>
        <img class="slide-6-card" src="../images/players/dominik_Mulac.png" alt="dominik Lulac card">
        <img class="slide-6-profile" src="../images/players/player-profile.png" alt="player profile">
        <img class="slide-6-chart" src="../images/shares-cercle.png" alt="chart">

        <h3 class="slider-6-txt1"> 20% اشتري</h3>
        <h3 class="slider-6-txt2">مكافاة الهدف</h3>
        <h3 class="slider-6-txt3">مكافاة الربح</h3>
        <h3 class="slider-6-txt4">مكافاة التحويل <br>($ORI)</h3>
        <h3 class="slider-6-txt5">يتحصل الحاملون على مكافات (انزال جوي) من النادي و ربح من التحويل </h3>
        <h3 class="slider-6-txt6">الدخل الاضافي يساعد الاعب في  تحسين و زيادة فرص النقل </h3>
        <h3 class="slider-6-txt7">5%</h3>
        <img class="slider-6-arrow" src="../images/arrow_right.png" alt="">
        <img class="slider-6-arrow1" src="../images/arrow_CornerLeft.png" alt="">
        <img class="slider-6-tag1" src="../images/tag.png" alt="">
        <img class="slider-6-tag2" src="../images/tag.png" alt="">
        <img class="slider-6-tag3" src="../images/tag.png" alt="">
        <h5 class="slider-6-tag1-txt">2000</h5>
        <h5 class="slider-6-tag2-txt">1000</h5>
        <h5 class="slider-6-tag3-txt">5%</h5>
        <div class="slider-6-logos-ar">
            <img class="slider-6-logos-1" src="../images/orijentLogo.png" alt="orijent logo">
            <img class="slider-6-logos-2" src="../images/juiceLogo.png" alt="juice logo">
        </div>
    </div>
    <div class="newsHero arabic-sliders otherHero slider-7">
        <h1>استثمر في لاعب كرة القدم -1/4</h1>
        <h2 >يعرض HNK Orijent 1919 مشاركة فرصة استثمارات نادي كرة القدم مع المعجبين والمتابعين.</h2>

        <h2 class="pt-4 pb-3"><b>كيف يعمل</b></h2>

        <ul>
            <li><h2>يحدد النادي القيمة الأولية والضرائب والمساهمة ، كلما تم تبادل الأسهم ، سيتم دفع الضريبة للاعب </h2></li>
            <li><h2>يربح المساهمون من مقايضة الاسهم حيث يساهم جزء من الضريبة في القيمة الاجمالية للرمز </h2></li>
            <li><h2>يمكن للمستخدمين المزايدة (السعر والمبلغ) للحصول على بعض الأسهم.</h2></li>
            <li><h2>يكسب المساهمون على المكافآت التي يمنحها النادي</h2>
                <ul>
                    <li><h2>الهدف المسجل</h2></li>
                    <li><h2>المباراة الفائزة</h2></li>
                </ul>
            </li>
            <li><h2>عندما يتم نقل اللاعب ، سيقوم النادي بتوزيع الأسهم المتفق عليها على جميع المساهمين.</h2></li>
        </ul>
        <img class="arabic-sliders-img" src="../images/players/dominik_Mulac.png">
        <div class="arabic-sliders-logos">
            <img class="arabic-sliders-logos-logos-1" src="../images/orijentLogo.png" alt="orijent logo">
            <img class="arabic-sliders-logos-logos-2" src="../images/juiceLogo.png" alt="juice logo">
        </div>
    </div>
    <div class="newsHero arabic-sliders otherHero slider-8">
        <h1>استثمر في لاعب كرة القدم -2/4</h1>
        <h2>يمكن الحصول على أسهم أحد اللاعبين من خلال تقديم عطاء على السلسلة مباشرة. يمكن للمالكين قبول العطاءات لمبادلة حصتهم ، ثم يتم توزيع ضريبة الصفقة بين النادي والمساهمين.</h2>
        <h3 class="slider-8-txt1">الحالة الأولية</h3>
        <h4 class="slider-8-txt2">القيمة</h4>
        <h3 class="slider-8-txt3">150'000 $ORI</h3>
        <h4 class="slider-8-txt4">السعر</h4>
        <h3 class="slider-8-txt5">1500 %ORI = 1%</h3>
        <h4 class="slider-8-txt6">اللاعب</h4>
        <h4 class="slider-8-txt7">المساهمين</h4>
        <h4 class="slider-8-txt8">يتم إضافة 3750 $ ORI إلى القيمة الإجمالية</h4>
        <h3 class="slider-8-txt9">1537 $ORI = +2.5 % </h3>
        <h4 class="slider-8-txt10">السعر الجديد </h4>
        <h3 class="slider-8-txt11">153’750 $OR</h3>
        <h4 class="slider-8-txt12">القيمة الجديدة</h4>
        <h3 class="slider-8-txt13">بعد القبول</h3>
        <div class="slider-8-center1">50% @ 1500 $ORI <br>
            TOTAL COST <br> <br>
            SHARES: 75000 $ORI <br>
            TAX: 7500 $ORI <br> <br>
            757500 $ORI
        </div>
        <div class="slider-8-center2">المناقصة</div>
        <div class="slider-8-center3">3750</div>
        <div class="slider-8-center4">3750</div>
        <img class="slider-8-arrow1" src="../images/arrowTop_CornerLeft.png" alt="">
        <img class="slider-8-arrow2" src="../images/shortRedArrowLeft.png" alt="">
        <img class="slider-8-arrow3" src="../images/shortRedArrowRight.png" alt="">
        <div class="arabic-sliders-logos">
            <img class="arabic-sliders-logos-logos-1" src="../images/orijentLogo.png" alt="orijent logo">
            <img class="arabic-sliders-logos-logos-2" src="../images/juiceLogo.png" alt="juice logo">
        </div>
    </div>
    <div class="newsHero arabic-sliders otherHero slider-8">
        <h1>استثمر في لاعب كرة القدم -3/4</h1>
        <h2>يحيمكن للنادي توزيع مكافآت إضافية ، على سبيل المثال عندما يسجل اللاعب هدفًا ، أو عندما يتم الفوز بلعبة. تعمل المكافآت على زيادة رصيد الأصول الملموسة ، وبالتالي ربح كل مساهم..</h2>
        <h3 class="slider-8-txt1">الحالة الأخيرة </h3>
        <h4 class="slider-8-txt2">القيمة</h4>
        <h3 class="slider-8-txt3">153'750 $ORI</h3>
        <h4 class="slider-8-txt4">السعر</h4>
        <h3 class="slider-8-txt5">1537 %ORI = 1%</h3>
        <h4 class="slider-8-txt6">اللاعب</h4>
        <h4 class="slider-8-txt7">المساهمين</h4>
        <h4 class="slider-8-txt8">يتم إضافة 1850 دولارًا أمريكيًا ORI إلى القيمة الإجمالية</h4>
        <h3 class="slider-8-txt9">1556 $ORI = +1.2 % </h3>
        <h4 class="slider-8-txt10">السعر الجديد </h4>
        <h3 class="slider-8-txt11">155’600 $ORI</h3>
        <h4 class="slider-8-txt12">القيمة الجديدة</h4>
        <h3 class="slider-8-txt13">بعد القبول</h3>
        <div class="slider-8-center5 ">
            نتيجة الهدف <br>
            +2000 $ORI
        </div>
        <div class="slider-8-center6">الجائزة</div>
        <div class="slider-8-center7">
            الفوز بالنتيجة<br>
            +1000 $ORI
        </div>
        <div class="slider-8-center8">الجائزة</div>
        <div class="slider-8-center3">150</div>
        <div class="slider-8-center4">1850</div>
        <img class="slider-8-arrow4" src="../images/longRedArrowLeft.png" alt="">
        <img class="slider-8-arrow5" src="../images/longRedArrowRight.png" alt="">
        <img class="slider-8-arrow6" src="../images/arrowTop_CornerLeft.png" alt="">
        <div class="arabic-sliders-logos">
            <img class="arabic-sliders-logos-logos-1" src="../images/orijentLogo.png" alt="orijent logo">
            <img class="arabic-sliders-logos-logos-2" src="../images/juiceLogo.png" alt="juice logo">
        </div>

    </div>
    <div class="newsHero arabic-sliders otherHero slider-8">
        <h1>استثمر في لاعب كرة القدم -4/4</h1>
        <h2>يحتفظ النادي بالحق في إنهاء الاستثمارات الملموسة ، والتي ستوزع على جميع المساهمين مبلغ كل منهم بORI$. سيكون هذا هو الحال على سبيل المثال ، عندما يتم نقل اللاعب</h2>
        <h3 class="slider-8-txt1">الحالة الأخيرة</h3>
        <h4 class="slider-8-txt2">القيمة</h4>
        <h3 class="slider-8-txt3">153'750 $ORI</h3>
        <h4 class="slider-8-txt4">السعر</h4>
        <h3 class="slider-8-txt5">1537 %ORI = 1%</h3>
        <h3 class="slider-8-txt9-10">حصول المساهمين على حصتهم
            @ 1٪ / 1687 دولار ORI
            في ORI $ وسيتم إنهاء الملموس</h3>
        <div class="slider-8-center5-10 ">
            300’000 € <br>
            <h6>10 % = 15’000 $ORI</h6><br>
            + 15000 $ORI
        </div>
        <div class="slider-8-center6-10">الجائزة</div>
        <div class="slider-8-center7-10">
            1% = 1687 <br>
            <h3>+ 12,5 % ربح</h3> + 12,5 % ربح
        </div>
        <div class="slider-8-center8-10">التوقيف</div>

        <img class="slider-8-arrow6-10" src="../images/arrowTop_CornerLeft.png" alt="">
        <img class="slider-8-arrow3-10" src="../images/arrow_down.png" alt="">
        <div class="arabic-sliders-logos">
            <img class="arabic-sliders-logos-logos-1" src="../images/orijentLogo.png" alt="orijent logo">
            <img class="arabic-sliders-logos-logos-2" src="../images/juiceLogo.png" alt="juice logo">
        </div>

    </div>
    <div class="newsHero arabic-sliders otherHero ">
        <h1>كيف تعمل؟  </h1>
        <h2>خلال فترة الاستحقاق التي تبلغ 10 سنوات ، سيتلقى النادي باستمرار رموز $ORI
            توزيعها في السوق سيؤدي إلى انهيار السعر. ستعمل نماذج الاستثمار لدينا من خلال القفل ، وزيادة الطلب ، وبالتالي زيادة قيمة $ ORI ، وبالتالي توزيع كميات أصغر من $ ORI إلى السوق.</h2>
        <div class="arabic-sliders-logos">
            <img class="arabic-sliders-logos-logos-1" src="../images/orijentLogo.png" alt="orijent logo">
            <img class="arabic-sliders-logos-logos-2" src="../images/juiceLogo.png" alt="juice logo">
        </div>


    </div>
    <!--    <div class="newsHero otherHero slider-10">-->
    <!--        <h1>Tangible Staked Investments</h1>-->
    <!--        <div class="otherHero-slider5-logos">-->
    <!--            <img class="otherHero-slider5-logos-1" src="images/orijentLogo.png" alt="orijent logo">-->
    <!--            <img class="otherHero-slider5-logos-2" src="images/juiceLogo.png" alt="juice logo">-->
    <!--        </div>-->
    <!--        <img class="slider-10-p1" src="images/blueProfile.png" alt="">-->
    <!--        <img class="slider-10-p2" src="images/brownProfile.png" alt="">-->
    <!--        <img class="slider-10-p3" src="images/brownProfile.png" alt="">-->
    <!--        <img class="slider-10-p4" src="images/brownProfile.png" alt="">-->
    <!--        <div class="slider-10-sum">-->
    <!--            &#8721;-->
    <!--        </div>-->
    <!--        <div class="slider-10-c1">-->
    <!--            5-->
    <!--        </div>-->
    <!--        <div class="slider-10-c2">-->
    <!--            5-->
    <!--        </div>-->
    <!--        <div class="slider-10-c3">-->
    <!--            6-->
    <!--        </div>-->
    <!--        <div class="slider-10-c4">-->
    <!--            20-->
    <!--        </div>-->
    <!--        <div class="slider-10-c5">-->
    <!--            50-->
    <!--        </div>-->
    <!--        <div class="slider-10-c6">-->
    <!--            54-->
    <!--        </div>-->
    <!--        <div class="slider-10-c7">-->
    <!--            200-->
    <!--        </div>-->
    <!--        <img class="slider-10-tag" src="images/tag.png" alt="">-->
    <!--        <div class="slider-10-c8">-->
    <!--            200-->
    <!--        </div>-->
    <!--        <div class="slider-10-c9">-->
    <!--            200-->
    <!--        </div>-->
    <!--        <div class="slider-10-c10">-->
    <!--            200-->
    <!--        </div>-->
    <!--        <div class="slider-10-c11">-->
    <!--            200-->
    <!--        </div>-->
    <!--        <div class="slider-10-c12">-->
    <!--            200-->
    <!--        </div>-->
    <!--        <div class="slider-10-c13">-->
    <!--            200-->
    <!--        </div>-->
    <!--        <div class="slider-10-c14">-->
    <!--            200-->
    <!--        </div>-->
    <!--        <div class="slider-10-c15">-->
    <!--            200-->
    <!--        </div>-->


    <!--    </div>-->


    <%- include("footer.ejs") %>
</div>


</body>
<script src="/js/bootstrap.min.js"></script>
</html>
