<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name="viewport" content="initial-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Start voting on club decisions, get different rewards and access to merchandise designs with Fan Tokens by HNK Orijent 1919. Get the official app here!">
    <meta name="keywords"
          content="Fan Tokens Orijent, Fan Tokens Ori, Fan Tokens Rijeka, Fan Token, What are Fan Tokens, Digital Tickets HNK Orijent, Fan Token Offering">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/growYourPlayer_logo_noTitle.png">
    <title>$ORI - Fan Token - DeVest</title>

</head>

<body></body>

<script>
    localStorage.setItem("demo", true);
    window.location.href = "/invest";
</script>
</html>
