<section class="footer ">
    <div class="footer__main">
        <div class="main__information">
            <div class="information__card">
                <span>Token and website powered by <a style="color:white;" href="https://juice.com.hr">Juice</a></span>
                <br/>
                <br/>
                <div><a style="color:white;" href="info[at]ori-token.com">info@grow-your-player.com</a></div>
                <div class="card__socials">
                    <a href="#"><img src="/images/facebook.png"></a>
                    <a href="#"><img src="/images/instagram.png"></a>
                    <a href="#"><img src="/images/twitter.png"></a>
                    <a href="#"><img src="/images/telegram.png"></a>
                </div>
            </div>
            <div class="information__card">
                <h5>Growyourplayer</h5>
                <ul>
                    <a href="#">
                        <li style="text-align: center;">Official Website</li>
                    </a>
                </ul>
            </div>
            <div class="information__card">
                <h5>Juice d.o.o.</h5>
                <ul>
                    <a href="https://juice.com.hr/">
                        <li>Official Website</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer__bottom">
        <div class="bottom__information">
            <span>&copy; Juice d.o.o, Rijeka</span>
            <span><a style="color:white;" href="/terms_conditions">Terms and Conditions</a></span>
            <span><a style="color:white;" href="/privacy_policy">Privacy Policy</a></span>
        </div>
    </div>
</section>
