<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name="viewport" content="initial-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Start voting on club decisions, get different rewards and access to merchandise designs with Fan Tokens by HNK Orijent 1919. Get the official app here!">
    <meta name="keywords"
          content="Fan Tokens Orijent, Fan Tokens Ori, Fan Tokens Rijeka, Fan Token, What are Fan Tokens, Digital Tickets HNK Orijent, Fan Token Offering">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title>$ORI - Fan Token - DeVest</title>

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- Cookies -->
    <script src="/js/js.cookie.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DBL3EPC6BC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'G-DBL3EPC6BC');
    </script>

</head>

<body>

<div class="container">

    <div class="hero-and-solution">
        <section class="hero row">
            <%- include("header.ejs", { menu: 1 }) %>
            <div class="hero-content">
                <div class="left">
                    <h2 class="caption">MEET Ori <br> THE ORIJENT<br> FAN TOKEN</h2>
                    <div class="priceTitle">$ORI @ <span id="pricetitle"></span></div>
                    <h3 class="hero-subtitle">Introducing $ORI, more than just a Fan Token. We're presenting a
                        game-changer, both for crypto & football.</h3>
                </div>
                <div class="center">
                    <img src="images/token.png" class="token">
                    <button onclick="location.href='/images/ORI Token Whitepaper V13.pdf'" class="card-btn"
                            id="whitepaper">Whitepaper
                    </button>
                </div>
                <div class="right">
                    <img src="images/dino-standing.png" class="dino-standing">
                    <!--
                    <div class="countdown">
                      <div class="countdown__box">
                        <span id="days1"></span>
                        <span>Day</span>
                      </div>
                      <div class="countdown__box">
                        <span id="hours1"></span>
                        <span>Hour</span>
                      </div>
                      <div class="countdown__box">
                        <span id="minutes1"></span>
                        <span>Min</span>
                      </div>
                      <div class="countdown__box">
                        <span id="seconds1"></span>
                        <span>Sec</span>
                      </div>
                    </div>
                    -->
                    <a href="https://pancakeswap.finance/swap">
                        <button class="card-btn">Buy on PancakeSwap</button>
                    </a>

                    <a class="ape" href="https://apespace.io/bsc/0x713998ac743f42fd9cd1fdfe83e751673b7d21d5">
                        <button class="card-btn">Watch chart on <img src="images/ApeSpace.png" class="ape-logo"></button>
                    </a>

                </div>
            </div>

        </section>
        <section>
            <div style="background: white;height: 30px;line-height: 30px;">
                <div class="ticker-wrap">
                    <div class="ticker">
                        <div class="ticker__item">$ORI @ <span id="price"></span></div>
                        <div class="ticker__item" style="color:black;font-weight:normal;">--- TRADE NOW ON PANCAKESWAP ---
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="solutions row" style="height: 800px;">
            <div style="padding: 0 1rem;">
                <h1 class=" title">orioriori</h1>
                <h2 class="caption">Why $ORI is more than a Fan Token</h2>
            </div>
            <div class="solutions__row" style="margin-bottom: 2rem;">
                <div class="solutions_text" style="padding:0 1rem;">
                    $ORI is a fan token of HNK Orijent, a Croatian football club in the SuperSport First Football League. However, it is much more than that. In addition to the ability to invest in it like any other cryptocurrency, we are offering multiple real-life use cases. If you are a fan of the club or an investor looking for investments, $ORI is the right choice for you. You can invest in the club and its players, earning rewards whenever they score a goal or win, enhancing the fan experience and making YOU a part of the team
                    <br><br>
                    Investing in players is an excellent way to bridge the gap between cryptocurrency and tangible real-world investments. All of the player's personal and game play statistics are provided so that you can make an informed decision. The best part is that by investing with $ORI, you become a part of the player's success, and as their success grows, so does your rewards.
                    <br><br>
                    Football fans will be able to buy tickets and reserve seats for upcoming HNK Orijent games, as well as purchase their favourite's club merchandise. The token is a standard BEP20 Token that has been deployed on the Binance Smart Chain. There are 7.5 million HNK Orijent 1919 Tokens with five decimal units. There are 1.2 million of them are currently in circulation. After Private and PreSale, the club owns the majority of the tokens which are currently linearly vested.
                    <br><br>
                </div>

            </div>
        </section>
    </div>

    <section id="presale" class="tokenomic row">
        <div class="tokenomic__charts">
            <img class="charts__title" src="images/tokenomic-title.png">
            <div class="charts__pie">
                <img class="pie__chart" src="images/orijent_distribution.svg">
            </div>

            <!--<img class="charts__line" src="images/tokenomic-chart.png"> -->
        </div>
        <!-- <h1 class="tokenomic__presale-title">PRESALE</h1> -->
        <!--
        <div class="countdown">
            <div class="countdown__box">
                <span id="days2"></span>
                <span>Day</span>
            </div>
            <div class="countdown__box">
                <span id="hours2"></span>
                <span>Hour</span>
            </div>
            <div class="countdown__box">
                <span id="minutes2"></span>
                <span>Min</span>
            </div>
            <div class="countdown__box">
                <span id="seconds2"></span>
                <span>Sec</span>
            </div>
        </div>
        -->
        <br><br>

            <a class="link" href="https://dx.app/app/v3/dxtokenlocksearch?id=0&add=0x54cC4dB6f878A1cDE6BdD0c8bEfCf70f5DABF206&type=tokenlock&chain=BSC">
                <button class="card-btn">View Token Locker</button>
            </a>
            <p class="tokenomic__subtitle">70% of the clubs' tokens are locked with a vesting schedule of 10 years. 10% of
                the teams' tokens are locked with vesting schedule of 5 years.</p>


    </section>

    <!--    <section class="phases row">
            <div class="card-columns">
                <div class="card-columns__column">
                    <img class="column__icon" src="images/light-bulb.png">
                    <img src="images/card-column.png">
                    <h5>PHASE 1</h5>
                    <p>Token Launch, HNK Orijent 1919 Fan App release</p>
                </div>
                <div class="card-columns__column">
                    <img class="column__icon" src="images/briefcase.png">
                    <img src="images/card-column.png">
                    <h5>PHASE 2</h5>
                    <p>Purchase token in Fan App, Voting rights, Buying with token</p>
                </div>
                <div class="card-columns__column">
                    <img class="column__icon column__icon&#45;&#45;small" src="images/pie-chart.png">
                    <img src="images/card-column.png">
                    <h5>PHASE 3</h5>
                    <p>NFT Collection, Rewards program</p>
                </div>
            </div>
        </section>-->

    <section class="app-download row">
        <div class="left">
            <h1>HNK ORIJENT 1919 FAN APP</h1>
            <h3>TICKETING</h3>
            <h4>SIMPLIFIED</h4>
            <p>The official app of HNK Orijent 1919 for the latest news on results, matches, rankings, etc. Through the
                application you receive exclusive information about the club from first hand such as statements and
                interviews of players and professional staff, also by participating in using the app you create content
                we publish. Buy your ticket, personalize it and save it in your virtual wallet, so you have everything
                you need in one place to enter the stadium without any problems.</p>
            <a href="https://play.google.com/store/apps/details?id=eu.juicecommerce.orijent"><img
                        class="app-download__link" src="images/google-play.png"></a>
            <a href="https://apps.apple.com/in/app/hnk-orijent-1919/id1599704852"><img class="app-download__link"
                                                                                       src="images/app-store.png"></a>
        </div>
        <div class="right">
            <img class="bg-element" src="images/bg-element.png">
            <div class="phone">
                <img class="mobile-phone" src="images/mobile-phone.png">
                <img class="bg-app" src="images/bg-app.jpg">
            </div>
        </div>
    </section>

    <section class="news row">
        <h3 class="news__title">NEWS</h3>
        <div class="news__articles">
            <div class="articles__card">
                <h3>NOVI LIST</h3>
                <h4>Orijent 1919 postao jedna od rijetkih klubova u Hrvatskoj koji ima svoj FAN Token, predstavljena je
                    i nova klupska maskota</h4>
                <a style="color: white; font-weight: bold"
                   href="https://www.novilist.hr/sport/nogomet/orijent-1919-postao-jedna-od-rijetkih-klubova-u-hrvatskoj-koji-ima-svoj-fan-token-predstavljena-i-nova-klupska-maskota/?fbclid=IwAR1w3CUp0aoz6S6Vc7Mnyq3DoPWtdf5b4_aV_UM0SdkCd2PplK4C311VRbc">
                    <p>Read more</p></a>
            </div>
            <div class="articles__card">
                <h3>NOVI LIST</h3>
                <h4>Orijent 1919 će uz Dinamo postati jedini klub u Hrvatskoj koji će dobiti svoju kriptovalutu!</h4>
                <a style="color: white; font-weight: bold"
                   href="https://www.novilist.hr/sport/nogomet/orijent-1919-ce-uz-dinamo-postati-jedini-klub-u-hrvatskoj-koji-ce-dobiti-vlastiti-valutu/">
                    <p>Read more</p></a>
            </div>
            <div class="articles__card">
                <h3>FACEBOOK</h3>
                <h4>Ja sam ORI, HNK Orijent 1919 Fan Token!</h4>
                <a style="color: white; font-weight: bold"
                   href="https://www.facebook.com/orijent1919/posts/344304017702277?__cft__[0]=AZWG3Z2_Z6IYnmFa9CTGLpD1rV-IGUkMSOhLpWBsv2y6PTsLsxdI1Tr-ihV_4xaT5Qdz6POH3DjgaCGOKG-2Vo_5lV1YpAEFoHyjbymlAzSPuiHHoNwheVL0XHzH7i_3WpEiY0j6GZKqpRIag6EvqjK2&__tn__=%2CO%2CP-R">Read
                    more</a>
            </div>
        </div>
    </section>

    <!--    <section class="faq">
            <h3 class="faq__title">FAQ</h3>
            <video src="images/buying_instructions.MP4" loop onmouseover="this.play()" onmouseout="this.pause();" style="max-width: 80%;margin: 0 auto;margin-top:140px;"></video>

            <img src="images/dino-laying.png" class="faq__dino-laying"></img>
        </section>-->

    <section class="newsletter row">
        <div style="padding: 30px;">
            <h3 class="newsletter__title">Disclaimer & Notice</h3>
            Cryptocurrency trading can lead to large and immediate financial losses. ... Transactions in cryptocurrency
            may be irreversible, and, accordingly, losses due to fraudulent or accidental transactions may not be
            recoverable. The nature of cryptocurrency may lead to an increased risk of fraud or cyber attack
        </div>
    </section>
    <section class="row">
        <%- include("footer.ejs") %>
    </section>


</div>
</body>
<script>
    /*
    setInterval(() => {
      let now = new Date().getTime();
      let date = 1644260400000;

      let difference = date - now;

      document.querySelector("#seconds1").textContent = Math.floor((difference % (1000 * 60)) / 1000);
      document.querySelector("#seconds2").textContent = Math.floor((difference % (1000 * 60)) / 1000);

      document.querySelector("#minutes1").textContent = Math.floor((difference % (1000 * 60 * 60)) / (1000 * 60));
      document.querySelector("#minutes2").textContent = Math.floor((difference % (1000 * 60 * 60)) / (1000 * 60));

      document.querySelector("#hours1").textContent = Math.floor((difference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      document.querySelector("#hours2").textContent = Math.floor((difference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));

      document.querySelector("#days1").textContent = Math.floor(difference / (1000 * 60 * 60 * 24));
      document.querySelector("#days2").textContent = Math.floor(difference / (1000 * 60 * 60 * 24));

    }, 1000);
    */
</script>

</body>

<div id="cookie" class="juice-container pyj">
    <p class="small">
        We use cookies to provide you with better service, analyze page traffic, personalize content, and target
        advertising. If you continue to use this site, you agree to the use of cookies. Read our Privacy Policy for how
        we use cookies and how you can control them.
        <a href="/privacy_policy.html">Privacy Policy</a>.</p>
    <button type="button" class="btn btn-primary acceptCookies rounded-0">Accept cookies</button>
</div>

<script>
    let cookie = document.getElementById('cookie');
    document.querySelector('.acceptCookies').addEventListener('click', function () {
        cookie.style.display = 'none';
        Cookies.set('permission', 'granted');
        window.consentGranted();
    })

    $(document).ready(function () {
        if (!Cookies.get('permission')) {
            cookie.style.display = "block";
        }
    });


    const reloadPrice = async () => {
        const req = await fetch("https://apespace.io/_api/token/pairs?id=1087676");
        let ori = await req.json();
        debugger;
        let oriUsd = parseFloat(ori[0].price);

        document.title = "$ORI @ " + oriUsd.toFixed(3) + "$";
        document.querySelector("#price").innerHTML = oriUsd.toFixed(3) + "$";
        document.querySelector("#pricetitle").innerHTML = oriUsd.toFixed(3) + "$";
    }
    reloadPrice();
    setInterval(() => {
        reloadPrice();
    }, 10000);
</script>

<script src="/js/bootstrap.min.js"></script>


</html>
