<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name="viewport" content="initial-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Start voting on club decisions, get different rewards and access to merchandise designs with Fan Tokens by HNK Orijent 1919. Get the official app here!">
    <meta name="keywords"
          content="Fan Tokens Orijent, Fan Tokens Ori, Fan Tokens Rijeka, Fan Token, What are Fan Tokens, Digital Tickets HNK Orijent, Fan Token Offering">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/newStyle.css">
    <link rel="icon" type="image/x-icon" href="/images/growYourPlayer_logo_noTitle.png">
    <title>Grow Your Player</title>

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- Cookies -->
    <script src="/js/js.cookie.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DBL3EPC6BC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'G-DBL3EPC6BC');
    </script>

</head>

<body>

<div class="container">

    <div class="hero-and-solution">
        <section class="hero row">
            <%- include("header.ejs", { menu: 1 }) %>
            <div class="hero-content">
                <div>
                    <h2 class="caption">INVEST, SUPPORT, EARN!</h2>
                    <h3 class="hero-subtitle" style="padding-top: 30px;">Sport investments like a pro.</h3>
                    <h3 class="hero-subtitle">Success is talent meets opportunity.</h3>
                    <h3 class="hero-subtitle">Success is never just a gamble.</h3>
                </div>
            </div>

        </section>
        <section>
            <div style="background: white;height: 30px;">
            </div>
        </section>

        <section class="solutions row" style="height: 800px;">
            <div style="padding: 0 1rem;">
                <h1 class="title">grow your player</h1>
                <h2 class="caption">Why choose Grow Your Player?</h2>
            </div>
            <div class="solutions__row" style="margin-bottom: 2rem;">
                <div class="solutions_text" style="padding:0 1rem;">
                    We revolutionize the way fans interact with their favorite athletes. Our platform offers a unique and immersive experience that goes beyond traditional sports fandom. Our cutting-edge decentralized app (dApp) empowers fans to engage with athletes like never before. By leveraging blockchain technology, we ensure transparency, security, and a direct connection between fans and players.
                    <br><br>
                    With Grow Your Player, you have the opportunity to purchase shares of your chosen athletes. This innovative approach allows you to become a stakeholder in their careers. Imagine having a financial interest in the success of the athletes you admire and support. When you buy shares in a player, you’re not just making a financial investment. You’re getting involved in their personal and professional journey. As they achieve new milestones and excel in their careers, your investment grows. This creates a symbiotic relationship where both fans and athletes benefit from each other's success.
                    <br><br>
                    Grow Your Player allows you to actively participate in the athletic journey of your favorite players. Your support helps them reach new heights, and you get to celebrate every victory along the way. Join us in reshaping the landscape of sports fandom. Become an integral part of your favorite athletes' journeys, support their dreams, and enjoy the rewards of their success. At Grow Your Player, we make your passion for sports a truly rewarding experience.
                    <br><br>
                </div>
            </div>
        </section>
    </div>

    <section>
        <div class="promo">
            <video controls style="width: 90%;">
                <source src="/images/promoVideo.mp4">
            </video>
        </div>
    </section>

    <section class="app-download row">
        <div class="left">
            <h1>GROW YOUR PLAYER</h1>
            <p>With Growyourplayer you are part of the necessary framework and team of experts that give talent the right tools, professional handling and financial access to making it big. Participate in that success with your investment and grow your player like a pro.</p>
            <p>Growyourplayer is a 2 in 1 state of the art platform. Talent meets opportunity. The passion and emotion of football meets blockchain technology and an innovative financial market place.</p>
            <p>Growyourplayer is a platform democratizing the deployment, management, and use of smart contracts, fostering a more inclusive digital economy and creating new possibilities for revenue generation. This sounds very technical, almost unemotional. The opposite is the case.</p>

        </div>
        <div class="right">
            <img class="mobile-phone" src="images/PlayerShooting.png">
        </div>
    </section>

    <section class="newsletter row">
        <div style="padding: 30px;">
            <h3 class="newsletter__title">Disclaimer & Notice</h3>
            Cryptocurrency trading can lead to large and immediate financial losses. ... Transactions in cryptocurrency
            may be irreversible, and, accordingly, losses due to fraudulent or accidental transactions may not be
            recoverable. The nature of cryptocurrency may lead to an increased risk of fraud or cyber attack
        </div>
    </section>
    <section class="row">
        <%- include("footer.ejs") %>
    </section>


</div>
</body>

<div id="cookie" class="juice-container pyj">
    <p class="small">
        We use cookies to provide you with better service, analyze page traffic, personalize content, and target
        advertising. If you continue to use this site, you agree to the use of cookies. Read our Privacy Policy for how
        we use cookies and how you can control them.
        <a href="/privacy_policy.html">Privacy Policy</a>.</p>
    <button type="button" class="btn btn-primary acceptCookies rounded-0">Accept cookies</button>
</div>

<script>
    let cookie = document.getElementById('cookie');
    document.querySelector('.acceptCookies').addEventListener('click', function () {
        cookie.style.display = 'none';
        Cookies.set('permission', 'granted');
        window.consentGranted();
    })

    $(document).ready(function () {
        if (!Cookies.get('permission')) {
            cookie.style.display = "block";
        }
    });


    const reloadPrice = async () => {
        const req = await fetch("https://apespace.io/_api/token/pairs?id=1087676");
        let ori = await req.json();
        let oriUsd = parseFloat(ori[0].price);

        document.querySelector("#price").innerHTML = oriUsd.toFixed(3) + "$";
        document.querySelector("#pricetitle").innerHTML = oriUsd.toFixed(3) + "$";
    }
    reloadPrice();
    setInterval(() => {
        reloadPrice();
    }, 10000);
</script>

<script src="/js/bootstrap.min.js"></script>


</html>
