<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Roadmap</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Start voting on club decisions, get different rewards and access to merchandise designs with Fan Tokens by HNK Orijent 1919. Get the official app here!">
    <meta name="keywords" content="Fan Tokens Orijent, Fan Tokens Ori, Fan Tokens Rijeka, Fan Token, What are Fan Tokens, Digital Tickets HNK Orijent, Fan Token Offering">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/roadmap.css">
    <link rel="icon" type="image/x-icon" href="/images/growYourPlayer_logo_noTitle.png">
    <title>Fan Tokens HNK Orijent 1919: Cryptocurrency & NFTs</title>

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- Cookies -->
    <script src="/js/js.cookie.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DBL3EPC6BC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-DBL3EPC6BC');
    </script>

</head>

<body>
<div class="wrapper container pb-5" style="padding: 0">
    <div class="hero-and-solution">
        <section class="hero">
            <%- include("header.ejs", { menu: 4 }) %>
        </section>
    </div>



    <div class="timeline">
        <div class="timeline-container left">
            <div class="content">
                <h2>App release</h2>
                <h5>15.12.2021</h5>
                <p>HNK Orijent 1919 Fan App published on App Store and Google Play.</p>
                <img src="images/application.png">
            </div>
        </div>

        <div class="timeline-container right">
            <div class="content">
                <h2>Token Deploy</h2>
                <h5>15.01.2022</h5>
                <p>We officially deployed the $ORI Token via DxMint on Binance Smart chain.</p>
            </div>
        </div>

        <div class="timeline-container left">
            <div class="content">
                <h2>Token Presale</h2>
                <h5>07.02.2022</h5>
                <p>Start of presale, 200BNB Hardcap! 90% presale filled.</p>
            </div>
        </div>

        <div class="timeline-container right">
            <div class="content">
                <h2>Token Launch</h2>
                <h5>15.02.2022</h5>
                <p>Official start of trading @ PancakeSwap!</p>
                <img src="images/roadmap/pancakeswap.png" style="margin-bottom: 0px">
            </div>
        </div>

        <div class="timeline-container left">
            <div class="content">
                <h2>CMC/CG Listing</h2>
                <h5>20.02.2022</h5>
                <p>We have been listed on the biggest listing sites withing the first week of launch.<br><a href="https://www.coingecko.com/en/coins/hnk-orijent-1919-token">CoinGecko</a> & <a href="https://coinmarketcap.com/currencies/hnk-orijent-1919/">CoinMarketCap</a></p>
                <img src="images/roadmap/coingecko.png" style="height: 15%; width: 15%; margin-bottom: 10px">
                <img src="../images/roadmap/coinmarketcap.svg" style="height: 15%; width: 15%; margin-bottom: 10px">
            </div>
        </div>

        <div class="timeline-container right">
            <div class="content">
                <h2>TST Release</h2>
                <h5>Q2 2022</h5>
                <p>Tangible Stake Tokens - Launch of the Tangible Stake Investment platform, where you can invest your $ORI's into the success of a soccer player.</p>
            </div>
        </div>

        <div class="timeline-container left">
            <div class="content">
                <h2>Press releases</h2>
                <h5>Q2 2022</h5>
                <p>All news outlets will publish news about the first decentralised football investment platform.</p>
            </div>
        </div>

        <div class="timeline-container right">
            <div class="content">
                <h2>Purchasing token in app</h2>
                <h5>End Q2</h5>
                <p>One place to store all your assets, hold your tokens in the same wallet as your tickets.</p>
                <img src="images/token.png" style="width: 25%; height: 25%">
            </div>
        </div>

        <div class="timeline-container left">
            <div class="content">
                <h2>Exchange listings</h2>
                <h5>End Q2/Q3</h5>
                <p>Listing of $ORI on the biggest exchanges. (Related to regulations/terms of Exchanges we can communicate exact listing dates) </p>
            </div>
        </div>

        <div class="timeline-container right">
            <div class="content">
                <h2>Community Voting Systems</h2>
                <h5>Q4 2022</h5>
                <p>Adding the Fans to the Fan Token. Adding exclusive features which will bring the Fans even closer to the club.</p>
            </div>
        </div>

        <div class="timeline-container left">
            <div class="content">
                <h2>NFT Collection</h2>
                <h5>2023</h5>
                <p>Creating an NFT Collection of the most successful players based on the investment platform.</p>
            </div>
        </div>
    </div>

    <%- include("footer.ejs") %>

</div>
</body>
<script src="/js/bootstrap.min.js"></script>
</html>
